<h1>Mail de contact</h1>
<h3>Message envoyé depuis le formulaire de contact</h3>

<p>Nom : {{ contact.name }}</p>
<p>Email : {{ contact.email }}</p>
<p>Sujet : {{ contact.subject }}</p>
<p>Message : {{ contact.message }}</p>