<h1>Bonjour {{ user.firstName }}</h1>

<p>Vous trouverez ci-dessous votre nouveau mot de passe provisoire. Pensez à le changer dans votre espace personnel rapidement.</p>
<ul>
    <li>Nouveau mot de passe provisoire : <strong>{{ password }}</strong></li>
</ul>

<p>A très bientôt sur SuperAtelier !</p>
<a href="{{ path('front_home_index') }}">SuperAtelier</a>