<h1>Bonjour {{ user.firstName }},</h1>

<p>PassionAtelier a l'honneur de vous transmettre le bon cadeau d'une valeur de {{ gift.amount }}€. Ce bon contient un code unique et valable sur tout le site
    durant une péroide d'un an.</p>
<p>Nous vous remercions pour votre confiance et à très bientôt !</p>

<p style="margin-top:50px;">L'équipe PassionAtelier<br>
<a href="https://www.super-atelier.com" target="_blank">super-atelier.com</a></p>
