<h1>Bonjour {{ user.firstName }},</h1>

<p>SuperAtelier a l'honneur de vous transmettre le bon cadeau valable pour l'atelier <em>{{ gift.event.title }}</em>.
    Ce bon contient un code unique et valable durant une péroide d'un an.</p>
<p>Nous vous remercions pour votre confiance et à très bientôt !</p>

<p style="margin-top:50px;">L'équipe SuperAtelier<br>
    <a href="https://www.super-atelier.com" target="_blank">super-atelier.com</a></p>