<div class="bg_color_1">
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('front_contact') }}" class="boxed_list">
                    <i class="pe-7s-help2"></i>
                    <h4>Besoin d'aide ? Contactez-nous</h4>
                    <p>Contactez-nous directement par formulaire formulaire.</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('front_cgv') }}" class="boxed_list">
                    <i class="pe-7s-wallet"></i>
                    <h4>CGV</h4>
                    <p>Voir nos conditions générales de vente.</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('front_valeurs') }}" class="boxed_list">
                    <i class="pe-7s-like2"></i>
                    <h4>Nos valeurs</h4>
                    <p>PassionAtelier à ses propres valeurs, les consulter ici.</p>
                </a>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
