{% extends 'base.html.twig' %}

{% block body %}
     <section class="hero_in general start_bg_zoom" style="background-image:url({{ asset('img/nos-valeurs.jpg') }});background-position:bottom;background-repeat:no-repeat;background-attachment:fixed;background-size:cover">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp animated"><span></span>Nos valeurs</h1>
            </div>
        </div>
    </section>

    <div class="bg_color_1">
        <div class="container margin_60_35">
            <div class="pricing-container cd-has-margins">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h2>Nos valeurs</h2>
                </div>

                <div class="row mt-4">
                    <p>{{ page.valeurs|raw }}</p>
                </div>

            </div>
            <!-- /pricing-container -->
        </div>
    </div>
{% endblock %}
